.cus-navbar-dropdown {
    padding: 10px 0 !important;
}

.avatar {
    width: 40px;
    height: 30px;
}

.user-wrapper {
    margin-bottom: 0 !important;
}

.profile-image {
    width: auto !important;
    height: auto !important;
}

.avatar-lg {
    width: 70px;
    height: 70px;
}

.role {
    padding: 15px 0;
}

.goals-form {
    text-align: center;
}

.goals-input {
    padding: 28px 0 !important;
    text-align: center;
}

.versus-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.review {
    display: flex;
    align-items: center;
}

.setting-radio-layout {
    display: flex;
}

.btn-success {
    background-color: #02A552;
    border-color: #02A552;
}

.bg-success {
    background-color: #4ab37e !important;
    border-color: #02A552;
}

.navbar.default-layout {
    background: linear-gradient(120deg, #02A552, #02A552, #39b475) !important;
}

.pagination .active .page-link {
    background-color: #02A552 !important;
    border-color: #02A552 !important;
}

.pagination .page-link:hover {
    background-color: #02A552 !important;
    border-color: #02A552 !important;
}